<div class="wrapper">
   <section class="hero">
      <header>
            <nav class="navbar navbar-dark sticky-top navbar-overlay " id="navbar-header" role="navigation">
               <div class="container-fluid">
                  <a href="/" class="navbar-brand slimjoe"><i class="fa fa-code"></i> Abfarah</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headerNav">
                  <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="headerNav">
                     <ul class="navbar-nav mr-auto pt-3">
                        <li class="nav-item active">
                           <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link sr-only" href="#">Projects</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#photgraphy">Photography</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link sr-only" href="#music">Music</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link sr-only" href="#">Disabled</a>
                        </li>
                     </ul>
                  </div>
               </div>
            </nav>
      </header>

	
   	
   	<div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-12 col-lg-8">
            <h1 class="display-1 slimjoe ">Abdul Farah</h1>

            <p class="lead slimjoe">Designer | Developer | Photographer<span class="sr-only"> | Musician</span></p>

            <p class="lead">
              <a class="btn btn-primary btn-lg sr-only" href="#sec-pricing" role="button">contact</a>
            </p>

          </div>
        </div>
      </div>
    </div>
   </section>

   <main role="main" class="container" data-spy="scroll" data-target="#navbar-header" data-offset="0">
      <div class="section section-about-me" id="about"></div>
      <div class="section section-projects" id="projects"></div>
      <div class="section section-photography" id="photgraphy"></div>
      <div class="section section-music" id="music"></div>
      <div class="section section-contact" id="contact"></div>
      <footer class="footer footer-color-black"></footer>
   </main>
</div>