a {color:white;}      /* unvisited link */
a:visited {color:white;}  /* visited link */
a:hover {color:#595959;}  /* mouse over link */
a:active {color:white;}  /* selected link */
* {
	box-sizing: border-box;
}
body {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: white;
	background: url("images/millcity.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container {
	padding: 8em;
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.content {
	padding: ;
	text-align: center;
}
.header .info {
	padding: 70px 0;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
	margin: auto;
	padding: 20px 0;
	text-align: center;
}
