body {
	font-family: 'Raleway', sans-serif;
	background-image: url("images/background.jpg");
}
.container {
	padding: 70px 0;
}
.content {
	padding: 70px 0;
	text-align: center;
}
.header .info {
	padding: 70px 0;
}